@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");

/* mobile - xs */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.header .row {
    justify-content: space-between;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* header */

.header {
    background: #1d2126;
    color: #a4aead;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 15px 0;
}

.menu {
    background: #1d2126;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 -15px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}


.menu a {
    display: block;
    text-decoration: none;
    color: #a4aead;
    cursor: pointer;

}

.menu.navigation li:focus-within {
    border-color: #23b7a3;
}

.menu>li a:focus-within {
    color: #23b7a3;
}

.menu li {
    padding: 6px 10px;
    border: 2px solid transparent;
    border-radius: 3px;

}

.menu li:hover,
.search input:hover {
    border: 2px solid #5a6068;
}

.search {
    position: relative;
}

.search input {
    background-color: transparent;
    border: 2px solid #3c4147;
    padding: 6px 8px;
    border-radius: 4px;
    color: #a4aead;
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.search input:active,
.search input:focus-visible,
.search input:focus {
    border: 2px solid #3c4147;
    outline: none;
}

.search input::placeholder {
    color: #a4aead;
    line-height: 30px;
}

.search .search-icon {
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url("images/header/search.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* social icons */

.soc-icons {
    display: flex;
    justify-content: space-between;
}

.soc-box {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fb {
    background-image: url("images/icons/fb.png");
}

.tw {
    background-image: url("images/icons/tw.png");
}

.goo {
    background-image: url("images/icons/goo.png");
}

.dbb {
    background-image: url("images/icons/dbb.png");
}

.bh {
    background-image: url("images/icons/bh.png");
}

.sk {
    background-image: url("images/icons/sk.png");
}

/* dark-mode */
.dark-mode {
    background-color: #3a454d;
}

.dark-mode .h2-title {
    border-color: #4e5a62;
}

.dark-mode .h2-title,
.dark-mode .h4-name {
    color: #fff;
}

/* buttons */
.btn {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    border: 2px solid #fff;
    background-color: transparent;
    padding: 15px 20px;
    cursor: pointer;
}

.btn:hover,
.forma .btn {
    border-color: #39a493;
    background-color: #39a493;
}

/* main */

.main section {
    padding: 30px 0;
}

.ph,
.post {
    line-height: 1.6;
    padding: 15px 0;
    color: #8d8f92;
    font-family: "Open Sans", sans-serif;
}

.h2-title {
    font-size: 36px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 10px solid #e1e6ea;
    padding-left: 10px;
    margin: 50px 0;
}

.h3-title,
.h4-name {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.s-i {
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
}

.container-card {
    margin: 15px 0;
    position: relative;
}

.card-image img {
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}

.container-content {
    position: relative;
}

/* welcome */
.slider {
    background-image: url(images/slider/bg.png);
    min-height: 660px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
}

.welcome-content {
    display: block;
}

.welcome-title {
    font-size: 36px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.welcome-ph {
    max-width: 60%;
    color: #ccd0d7;
    padding: 32px 0;
}

.slider .btn {
    margin: 5px 5px 5px 0;
}

/* about */
.about {
    padding-bottom: 50px;
    border-bottom: 1px solid #dde1e4;
}

.about .row {
    align-items: flex-start;
}

.about .soc-icons {
    width: 304px;
    padding: 30px 0;
}

.about .soc-box {
    height: 60px;
    width: 60px;
    background-color: #c8cdd0;
}

.about .soc-box:hover {
    background-color: #d0d5d9;
}

.about-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.list-number {
    background-color: #23b7a4;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-left {
    display: flex;
    flex: 0 0 50px;
}

.list-body {
    flex: 1 1 auto;
    padding: 0 15px;
}

.list-body h3 {
    font-size: 18px;
}

/* team */
.team .container-content {
    background-color: #e1e6ea;
}

.team .container-content:hover>.mate-info {
    background-color: #3a454d;
    color: #fff;
}

.team .container-content:hover>.mate-info p {
    color: #fff;
}

.mate-photo img {
    width: 263px;
    max-height: 300px;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    visibility: hidden;
}

.container-content:hover>.mate-photo .overlay {
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
}

.icon-overlay {
    height: 50px;
    width: 50px;
    background-color: #3a454d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
}

.icon-overlay:hover {
    background-color: #4e5a62;
}

.in {
    background-image: url("images/icons/in.png");
}

.mate-info {
    padding: 20px;
}

.mate-info h4 {
    font-size: 16px;
}

.mate-info p {
    font-size: 14px;
    padding: 0;
}

/* work */

.work .card-image:hover>.hov-cont {
    visibility: visible;
}

.work-sp-btn {
    margin: auto;
    text-align: center;
}

.work .btn {
    margin: 25px 0 15px 0;
}

.hov-cont {
    position: absolute;
    visibility: hidden;
    background-color: rgba(41, 47, 54, 0.75);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.plus {
    flex: 0 0 calc(100% - 60px);
    width: 100%;
    height: 48px;
    background-image: url("images/work/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.image-title {
    height: 60px;
    background-color: #292f36;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* services */
.services .flex-container {
    text-align: center;
}

.services .h4-name {
    font-size: 17px;
}

.icon-box {
    width: 100%;
    height: 48px;
    margin: 20px 0;
}

.serv-icon1 {
    background-image: url("images/services/i-sett.png");
    background-position: center;
    background-repeat: no-repeat;
}

.serv-icon2 {
    background-image: url("images/services/i-edit.png");
    background-position: center;
    background-repeat: no-repeat;
}

.serv-icon3 {
    background-image: url("images/services/i-mob.png");
    background-position: center;
    background-repeat: no-repeat;
}

.serv-icon4 {
    background-image: url("images/services/i-clock.png");
    background-position: center;
    background-repeat: no-repeat;
}

/* features */
.features-info {
    padding: 15px 0;
    margin: 30px 0;
}

/* map */
.map {
    position: relative;
    margin: 10px 0;
}

/* contact */
.cont-info {
    padding: 15px;
}

.contact .h3-title {
    font-size: 20px;
    padding: 15px 0;
}

.contact .forma {
    position: relative;
    z-index: 10;
    margin-top: -130px;
    padding: 15px;
    background-color: #fff;
}

.contact .forma .row {
    padding: 10px;
}

.forma textarea {
    height: 160px;
    resize: none;
}

.forma .flabel {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 34px;
    color: #8d8f92;
    width: 100%;
}

.finput {
    border: 1px solid #eaeef1;
    border-radius: 3px;
    background-color: #eaeef1;
    padding: 10px;
    width: 100%;
    height: 40px;
    outline: none;
}

/* footer */

.footer-el {
    height: 95px;
}

.footer .copyright {
    display: flex;
    align-items: center;
}

.footer .ph {
    padding: 0;
    height: 100%;
}

.footer .soc-icons {
    justify-content: end;
    align-items: center;
    height: 100%;
}

/* only mobile - xs */

@media (max-width: 553px) {
    .main {
        position: relative;
        z-index: -20;
    }
    .header .container .row {
        width: 100%;
        position: fixed;
        background-color: #1d2126;
    }
    
    .hidden-xs {
        display: none;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sandwich {
        padding: 18px 15px;
    }

    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }

    .nav-mobile-menu span {
        height: 2px;
        left: 0;
        right: 0;
        position: absolute;
        background-color: white;
    }

    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:nth-child(3) {
        top: 12px;
    }

    .header {
        position: sticky;
        width: 100%;
        z-index: 20;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: 0;
        height: 52px;
    }

    .navigation {
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        transition: 0.5s ease-in-out;
        opacity: 0;
        visibility: hidden;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top: 40px;
        transform: translateX(0);
    }

    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
}

/* tablet - sm */
@media (min-width: 553px) {
    .container {
        max-width: 525px;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .header {
        height: auto;
    }

    .menu {
        justify-content: space-evenly;
    }

    .fixed {
        order: 1;
    }

    .go-up {
        order: 2;
    }

    .go-down {
        order: 3;
    }
}

/* laptop - md */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667;
    }

    .header {
        height: 80px;
        justify-content: center;
    }

    .menu {
        justify-content: space-evenly;
    }

    .fixed {
        order: 1;
    }

    .go-up {
        order: 3;
    }

    .go-down {
        order: 2;
    }
}

/* desktop - lg */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

    .menu {
        padding: 0 82.5px;
    }

    .search {
        margin: 0 -15px;
    }

    .fixed {
        order: 1;
    }

    .go-up {
        order: 3;
    }

    .go-down {
        order: 2;
    }
}
